extension/actions.json
{
    "flow": {
        "properties": {
            "connectionReferences": {},
            "definition": {
                "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                "contentVersion": "1.0.0.0",
                "parameters": {
                    "$connections": {
                        "defaultValue": {},
                        "type": "Object"
                    },
                    "$authentication": {
                        "defaultValue": {},
                        "type": "SecureObject"
                    }
                },
                "triggers": {
                    "manual": {
                        "metadata": {
                            "operationMetadataId": "15e53ec1-fd2b-420b-a5e6-26101e35ebfc"
                        },
                        "type": "Request",
                        "kind": "Button",
                        "inputs": {
                            "schema": {
                                "type": "object",
                                "properties": {},
                                "required": []
                            }
                        }
                    }
                },
                "actions": {},
                "templateName": ""
            },
            "schemaVersion": "1.0.0.0"
        }
    },
    "api": {
        "type": "ApiConnection",
        "inputs": {
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['service']['connectionId']"
                }
            },
            "method": "post",
            "body": {
                "Field1": "Value"
            },
            "path": "/v2/actions/..."
        },
        "runAfter": {
            "Previous_Action": [
                "Succeeded"
            ]
        }
    },
    "Compose": {
        "runAfter": {},
        "metadata": {
            "operationMetadataId": "6063a4bc-73b8-4bc2-b84b-d73c4f79c51c"
        },
        "type": "Compose",
        "inputs": ""
    },
    "Apply_to_each_interview_form": {
        "foreach": "",
        "actions": {},
        "runAfter": {
            "Condition": [
                "Succeeded"
            ]
        },
        "type": "Foreach"
    },
    "Filter_array_passed": {
        "runAfter": {
            "Delay": [
                "Succeeded"
            ]
        },
        "type": "Query",
        "inputs": {
            "from": "",
            "where": ""
        }
    },
    "Condition": {
        "actions": {},
        "runAfter": {
            "Switch": [
                "Succeeded"
            ]
        },
        "else": {
            "actions": {}
        },
        "expression": {
            "and": [
                {
                    "equals": [
                        "",
                        ""
                    ]
                }
            ]
        },
        "type": "If"
    },
    "Switch": {
        "runAfter": {
            "Filter_array_passed": [
                "Succeeded"
            ]
        },
        "cases": {
            "Case": {
                "case": "",
                "actions": {}
            }
        },
        "default": {
            "actions": {}
        },
        "expression": "",
        "type": "Switch"
    },
    "Do_until": {
        "actions": {},
        "runAfter": {
            "Apply_to_each_interview_form": [
                "Succeeded"
            ]
        },
        "expression": "",
        "limit": {
            "count": 60,
            "timeout": "PT1H"
        },
        "type": "Until"
    },
    "Initialize_variable": {
        "runAfter": {},
        "type": "InitializeVariable",
        "inputs": {
            "variables": [
                {
                    "name": "ss",
                    "type": "boolean"
                }
            ]
        }
    },
    "Set_variable": {
        "runAfter": {
            "Initialize_variable": [
                "Succeeded"
            ]
        },
        "type": "SetVariable",
        "inputs": {
            "name": "",
            "value": ""
        }
    },
    "Delay": {
        "runAfter": {
            "HTTP": [
                "Succeeded"
            ]
        },
        "type": "Wait",
        "inputs": {
            "interval": {
                "count": 1,
                "unit": "Minute"
            }
        }
    },
    "Terminate": {
        "runAfter": {
            "Set_variable": [
                "Succeeded"
            ]
        },
        "type": "Terminate",
        "inputs": {
            "runStatus": "Failed"
        }
    },
    "Scope": {
        "actions": {},
        "runAfter": {
            "Select": [
                "Succeeded"
            ]
        },
        "type": "Scope"
    },
    "Select": {
        "runAfter": {
            "Terminate": [
                "Succeeded"
            ]
        },
        "type": "Select",
        "inputs": {
            "from": "",
            "select": {
                "": ""
            }
        }
    },
    "HTTP": {
        "runAfter": {
            "Scope": [
                "Succeeded"
            ]
        },
        "type": "Http",
        "inputs": {
            "uri": "",
            "method": "GET"
        },
        "runtimeConfiguration": {
            "contentTransfer": {
                "transferMode": "Chunked"
            }
        }
    },
    "Get_items": {
        "runAfter": {},
        "type": "OpenApiConnection",
        "inputs": {
            "parameters": {
                "dataset": "https://sharepoint.com/sites/",
                "table": ""
            },
            "host": {
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                "connectionName": "shared_sharepointonline",
                "operationId": "GetItems"
            },
            "authentication": {
                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                "type": "Raw"
            }
        }
    }
}